name: Build and deploy a strapi website

on:
  workflow_call:
    inputs:
      backend_args:
        description: "Docker build-args for backend image"
        type: string
        default: ''
      frontend_args:
        description: "Docker build-args for frontend image"
        type: string
        default: ''
      production_branch:
        description: 'Name of the production branch'
        type: string
        default: 'main'
      deploy_marker:
        description: 'Filename in strapi public folder that means backend is deployed'
        type: string
      publish_only:
        description: 'Only generate the frontend (static assets)'
        type: boolean
        default: false
    secrets:
      personal_token:
        description: 'Optional personal token used to checkout private repositories (current and submodules)'

jobs:
  release-backend:
    uses: WemoveEU/ci-workflows/.github/workflows/docker-build.yml@publish
    if: ${{inputs.publish_only == false}}
    with:
      production_branch: ${{inputs.production_branch}}
      dockerfile: backend/Dockerfile
      name: "${{github.repository}}/backend"
      dir: "backend"
      overlay: "backend_env_${{github.run_id}}"
      args: ${{inputs.backend_args}}

  wait-for-backend:
    needs:
      - release-backend
    runs-on: ubuntu-latest
    environment: ${{ (github.ref_name == vars.CI_PRODUCTION_BRANCH) && 'production' || 'staging' }}
    steps:
      - uses: Hardsix/action-wait-for-api@v2.0.2
        with:
          url: https://strapi.${{vars.DOMAIN}}/${{inputs.deploy_marker}}
        if: ${{inputs.deploy_marker && !inputs.publish_only}}
    

  release-frontend:
    needs:
      - wait-for-backend
    uses: WemoveEU/ci-workflows/.github/workflows/docker-build.yml@publish
    with:
      production_branch: ${{inputs.production_branch}}
      dockerfile: frontend/Dockerfile
      name: "${{github.repository}}/frontend"
      dir: frontend
      overlay: "frontend_env_${{github.run_id}}"
      args: ${{inputs.frontend_args}}


  
